.prices-container{
    background-color: #1d33756e;
    height: 50vh;
}

.prices_information{
    padding: 2rem;
    overflow-wrap: break-word;
}

.prices_organization{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}

h1{
    width: 85vw;
}
